@import "variables.less";
@import "bootstrap/bootstrap.lessimport";

html, body {
  height: 100%;
}

body {
  padding-top: @navbar-height;
}

.navbar {
  .navbar-brand {
    font-weight: bold;
  }

  .nav {
    margin-top: 1px;
    font-size: @font-size-large;
  }
}

.outer-wrapper, .sidebar, .content {
  height: 100%;
}

.sidebar, .content {
  overflow-y: auto;
  .box-sizing(border-box);
}

.loading {
  text-align: center;
  margin-top: @font-size-large;
  font-weight: bold;

  i {
    position: relative;
    top: 1px;
    font-size: @font-size-large;
  }
}

.sidebar {
  float: left;
  width: @sidebarWidth;
  border-right: 4px solid @gray-lighter;

  .meta {
    padding: 10px 15px;
    color: @gray-light;
    border-bottom: 4px solid @gray-lighter;
    text-align: center;
    text-transform: uppercase;
    font-size: @font-size-large;

    a {
      color: @gray-light;
    }

    .row {
      margin: 0;

      * {
        height: @line-height-base * @font-size-large;
        line-height: @line-height-base * @font-size-large;
      }
    }

    hr {
      margin: 10px 0;
    }

    .icon-chevron-up {
      float: left;
    }

    .icon-chevron-down {
      float: right;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-bottom: 4px solid @gray-lighter;

    li {
      border-bottom: 1px solid @gray-lighter;

      &:last-child {
        border: none;
      }

      a {
        display: block;
        padding: 10px 15px;
        color: @gray-dark;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          background-color: lighten(@brand-primary, 60%);
        }

        &.active {
          background-color: @link-color;
          color: #fff;
        }
      }
    }
  }

  .about {
    padding: 10px 15px;
  }
}

.content {
  margin-left: @sidebarWidth;
}

ul.posts-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    border-bottom: 1px solid @gray-lighter;

    a.post-item {
      display: block;
      position: relative;
      padding: 10px 15px;
      color: @gray;
      text-decoration: none;
      .clearfix;

      .controls {
        position: absolute;
        top: 10px;
        bottom: 10px;
        vertical-align: middle;

        .points {
          position: absolute;
          top: 50%;
          text-align: center;

          span {
            position: absolute;
            top: -9px;
            width: 40px;
            left: -13px;
          }
        }

        .icon-chevron-down {
          position: absolute;
          bottom: 2px;
        }
      }

      .meta {
        margin-left: 40px;
        float: left;
      }

      .image {
        position: absolute;
        top: 50%;
        right: 15px;

        i {
          position: relative;
          font-size: @font-size-large;
          line-height: @font-size-large;
          top: -@font-size-large / 2;
        }
      }

      .title {
        color: @gray-dark;
        font-weight: bold;
        font-size: @font-size-large;
      }

      .username, .domain, .comments {
        font-size: @font-size-small;
      }

      .comments {
        &:hover {
          text-decoration: underline;
        }
      }

      i {
        color: @gray-lighter;
      }

      &:hover {
        background-color: lighten(@brand-primary, 60%);

        i {
          color: @gray-light;
        }
      }
    }
  }
}

.post {
  padding: 10px 15px;

  h1 {
    margin-top: 10px;
  }

  .meta {
    color: @gray-light;
    margin-bottom: 5px;

    span {
      font-weight: bold;
    }
  }
}

.read {
  padding: 10px 15px;
  padding-top: 0;

	img {
		display: block;
		margin: 15px auto;
		box-shadow: 0 0 15px;
		max-width: 100%;
	}
}

.divider {
  padding: 5px 15px;
  text-transform: uppercase;
  background-color: @gray-lighter;
  color: @gray;

  .toggle {
    float: right;
    cursor: pointer;
  }
}

ul.comments {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    .comment {
      padding: 10px;
      border-bottom: 1px solid @gray-lighter;
      box-sizing: border-box;

      &.with-replies {
        cursor: pointer;
      }

      .meta {
        color: @gray-light;

        .username {
          color: @text-color;
          font-weight: bold;
        }
      }

      p {
        margin: 10px 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .replies-hidden {
      display: none;
      cursor: pointer;
      padding: 10px;
      background-color: @gray-lighter;
      .box-shadow(inset 0px 4px 6px -5px);
    }

    ul.comments {
      ul.comments {
        padding-left: 10px;
      }

      .comment {
        padding-left: 20px;
        position: relative;

        .border {
          position: absolute;
          background-color: @link-color;
          width: 10px;
          margin-right: 10px;
          top: 0;
          bottom: 0;
          left: 0;

          &.depth-1 { background-color: @comment1; }
          &.depth-2 { background-color: @comment2; }
          &.depth-3 { background-color: @comment3; }
          &.depth-4 { background-color: @comment4; }
          &.depth-5 { background-color: @comment5; }
        }
      }
    }
  }
}

@media(max-width: @screen-small) {
  .sidebar {
    width: 25%;
  }

  .content {
    margin-left: 25%;
  }
}

@media(max-width: @screen-phone) {
  .sidebar {
    display: none;
  }

  .content {
    width: 100%;
    margin: 0;
    height: auto;
  }

	.read {
		img {
			box-shadow: none;
		}
	}
}
