@import url('http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic');
@import "bootstrap/bootstrap.lessimport";

html, body {
  height: 100%;
}

body {
  padding-top: @navbar-height;
}

.navbar {
  .box-shadow(inset 0px -4px 4px -4px #000000);

  .navbar-brand {
    font-weight: bold;
  }

  .nav {
    font-size: @font-size-large;
  }
}

.outer-wrapper, .sidebar, .content {
  height: 100%;
}

.sidebar, .content {
  float: left;
  overflow-y: auto;
  .box-sizing(border-box);
}

.loading {
  text-align: center;
  margin-top: @font-size-large;
  font-weight: bold;

  i {
    position: relative;
    top: 1px;
    font-size: @font-size-large;
  }
}

.sidebar {
  width: 25%;
  border-right: 4px solid @gray-lighter;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      border-bottom: 1px solid @gray-lighter;

      a {
        display: block;
        padding: 10px 15px;
        color: @gray-dark;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          background-color: lighten(@brand-primary, 60%);
        }

        &.active {
          background-color: @link-color;
          color: #fff;
        }
      }
    }
  }
}

.content {
  width: 75%;
}

ul.posts-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    border-bottom: 1px solid @gray-lighter;

    a.post-item {
      display: block;
      position: relative;
      padding: 10px 15px;
      color: @gray;
      text-decoration: none;
      .clearfix;

      .controls {
        position: absolute;
        top: 10px;
        bottom: 10px;
        vertical-align: middle;

        .points {
          position: absolute;
          top: 50%;
          text-align: center;

          span {
            position: absolute;
            top: -9px;
            width: 40px;
            left: -13px;
          }
        }

        .icon-chevron-down {
          position: absolute;
          bottom: 2px;
        }
      }

      .meta {
        margin-left: 40px;
        float: left;
      }

      .image {
        position: absolute;
        top: 50%;
        right: 15px;

        i {
          position: relative;
          font-size: @font-size-large;
          line-height: @font-size-large;
          top: -@font-size-large / 2;
        }
      }

      .title {
        color: @gray-dark;
        font-weight: bold;
        font-size: @font-size-large;
      }

      .username, .domain, .comments {
        font-size: @font-size-small;
      }

      .comments {
        &:hover {
          text-decoration: underline;
        }
      }

      i {
        color: @gray-lighter;
      }

      &:hover {
        background-color: lighten(@brand-primary, 60%);

        i {
          color: @gray-light;
        }
      }
    }
  }
}

.post {
  padding: 10px 15px;

  h1 {
    margin-top: 10px;
  }

  .meta {
    color: @gray-light;
    margin-bottom: 5px;

    span {
      font-weight: bold;
    }
  }
}

.divider {
  padding: 5px 15px;
  text-transform: uppercase;
  background-color: @gray-lighter;
  color: @gray;

  .toggle {
    float: right;
    cursor: pointer;
  }
}

ul.comments {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    .comment {
      padding: 10px;
      cursor: pointer;
      border-bottom: 1px solid @gray-lighter;
      box-sizing: border-box;

      .meta {
        color: @gray-light;

        .username {
          color: @text-color;
          font-weight: bold;
        }

        .points {
          color: @brand-primary;
        }
      }

      p {
        margin: 10px 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    ul.comments {
      ul.comments {
        padding-left: 10px;
      }

      .comment {
        padding-left: 20px;
        position: relative;

        .border {
          position: absolute;
          background-color: @brand-primary;
          width: 10px;
          margin-right: 10px;
          top: 0;
          bottom: 0;
          left: 0;
        }
      }
    }
  }
}

@media(max-width: @screen-phone) {
  .sidebar {
    display: none;
  }

  .content {
    width: 100%;
    height: auto;
  }
}
