<template name="post_item">
<a class="post-item" href="{{url}}">
  <div class="controls">
    <i class="icon-chevron-up"></i>
    <span class="points"><span>{{points}}</span></span>
    <i class="icon-chevron-down"></i>
  </div>
  <div class="meta">
    <span class="title">{{title}}</span><br />
    <span class="username">by {{postedBy}}</span> <span class="time">({{postedAgo}})</span><br />
    <span class="comments">{{commentCount}} comments</span>
  </div>
  <div class="image">
    <i class="icon-chevron-right"></i>
  </div>
</a>
</template>
