<template name="post_item">
<a class="post-item" href="{{link}}">
  <div class="controls">
    <i class="icon-chevron-up"></i>
    <span class="points"><span>{{points}}</span></span>
    <i class="icon-chevron-down"></i>
  </div>
  <div class="meta">
    <span class="title">{{title}}</span><br />
    <span class="username">by {{username}}</span>
    {{#if domain}}<span class="domain">({{domain}})</span>{{/if}}<br />
    <span class="comments">{{num_comments}} comments</span>
  </div>
  <div class="image">
    <div class="valign">
      <i class="icon-chevron-right"></i>
    </div>
  </div>
</a>
</template>
