<template name="nav">
<div class="navbar navbar-fixed-top">
  <a class="navbar-brand" href="/">
    {{#if svgSupported}}
    {{> logo_svg}}
    {{else}}
    <img class="logo" src="/logo.png" />
    {{/if}}
  </a>
  {{#if searching}}
  <form class="navbar-form pull-right search-form" action="">
    <input type="text" placeholder="Search" autofocus>
  </form>
  {{else}}
  {{#if currentList}}
  <ul class="navbar-nav nav">
    <li class="dropdown">
    <a href="{{currentList.path}}" data-target="#" role="button" class="dropdown-toggle" data-toggle="dropdown">{{currentList.title}} <b class="caret"></b></a>
    <ul class="dropdown-menu" role="menu">
      {{#each otherLists}}
      <li><a href="{{namedRoute name}}">{{title}}</a></li>
      {{/each}}
    </ul>
    </li>
  </ul>
  {{/if}}
  {{#if post}}
  <p class="pull-left navbar-text">
  <i class="icon-up-open"></i> <span class="points">{{ post.points }}</span> <i class="icon-down-open"></i>
  </p>
  {{/if}}
  <ul class="nav icons navbar-nav pull-right">
    <li><a class="search" href="#"><i class="icon-search"></i></a></li>
    {{#if article}}
    {{#if reading}}
    <li><a href="{{post_pagePath post._id}}"><i class="icon-comment-alt"></i></a></li>
    {{else}}
    <li><a href="{{post_readPath post._id}}"><i class="icon-newspaper"></i></a></li>
    {{/if}}
    {{/if}}
    <li><a class="refresh" href="#"><i class="icon-arrows-cw"></i></a></li>
  </ul>
  {{/if}}
</div>
</template>
