<template name="nav">
<div class="navbar navbar-fixed-top">
  <a class="navbar-brand" href="/">
    {{#if svgSupported}}
    {{> logo_svg}}
    {{else}}
    <img class="logo" src="/logo.png" />
    {{/if}}
  </a>
  {{#if searching}}
  <form class="navbar-form pull-right search-form" action="">
    <input type="text" placeholder="Search" autofocus>
  </form>
  {{else}}
  <ul class="nav navbar-nav pull-right">
    <li><a class="search" href="#"><i class="icon-search"></i></a></li>
    <li><a class="refresh" href="#"><i class="icon-arrows-cw"></i></a></li>
    {{#if article}}
    {{#if reading}}
    <li><a href="{{post_pagePath post._id}}"><i class="icon-comment-alt"></i></a></li>
    {{else}}
    <li><a href="{{post_readPath post._id}}"><i class="icon-newspaper"></i></a></li>
    {{/if}}
    {{/if}}
  </ul>
  {{/if}}
</div>
</template>
